<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Post</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
          
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('AboutUs') }}">About Us</a></li>
            
            <!-- Research tab with dropdown -->
            <li class="dropdown">
                <a>Learn More</a>
                <!-- Dropdown Menu (hidden by default) -->
                <ul class="dropdown-menu">
                 <li><a href="{{ url_for('researchoverview') }}">Research Overview</a></li>
                    <li><a href="{{ url_for('eastdurhampark') }}">East Durham Park</a></li>
                    <li><a href="{{ url_for('eastendpark') }}">East End Park</a></li>
                    <li><a href="{{ url_for('lyonpark') }}">Lyon Park</a></li>
                    <li><a href="{{ url_for('northgatepark') }}">Northgate Park</a></li>
                    <li><a href="{{ url_for('walltownpark') }}">Walltown Park</a></li>
                </ul>
            </li>
            
            <li><a href="{{ url_for('blog') }}">Blog</a></li>
            
            <form action="{{ url_for('search') }}" method="POST" class="search-container">
              <input type="text" name="query" class="search-input" placeholder="Search..." value="{{ query }}">
              <button type="submit" class="search-button">🔍</button>
          </form>
        </ul>

    </nav>
    <h2>Create a Blog Post</h2>
    <form method="POST">
      <div class="container">
        <div class="text-box">

        <h2.blog><input type="text" name="title" placeholder="Title" required></h2.blog>
        <textarea name="content" placeholder="Write your post here..." required></textarea>
        <button type="submit">Post</button>
        </div>
      </div>
    </form>
    <a href="/blog">View All Blog Posts</a>

</body>
</html>